<%= javascript_pack_tag 'index' %>
<h1>Properties <%= current_user.username %></h1>

<table style="width:50%">
  <tr>
    <th>Address</th>
    <th>Postcode</th>
    <th>Price(£)</th>
    <th>Type</th>
  </tr>
  <% @properties.each do |property| %>
    <tr>
      <td><%= property.ADDRESS %></td>
      <td><%= property.POSTCODE %></td>
      <td><%= property.PRICE %></td>
      <td><%= property.BEDROOMS %> bed <%= property.TYPE %></td>
    </tr>
  <% end %>
</table>