<%= javascript_pack_tag 'index' %>
<h1>Properties</h1>

<table style="width:50%">
  <tr>
    <th>Address</th>
    <th>Postcode</th>
    <th>Price(£)</th>
    <th>Type</th>
  </tr>
  <% @properties.each do |property| %>
    <tr>
      <td><%= property.ADDRESS %></td>
      <td><%= property.POSTCODE %></td>
      <td><%= property.PRICE %></td>
      <td><%= property.BEDROOMS %> bed <%= property.TYPE %></td>
    </tr>
  <% end %>
</table>

<label for="postcodes">Choose a postcode:</label>

<select name="postcodes" id="postcodes">
  <% postcodes = %>
  <% @properties.each do |property| %>
    <option value=<%= property.POSTCODE[0..3] %>><%= property.POSTCODE[0..3] %></option>
  <% end %>
</select>

<canvas id="myChart" width="960" height="200"></canvas>
